name: CD - Auto Versioning, Tagging & Docker Build

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # important pour récupérer les anciens tags

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get previous version
        id: get_version
        run: |
          # Récupère le dernier tag Git
          LAST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          echo "Dernier tag détecté: $LAST_TAG"
          echo "last_tag=$LAST_TAG" >> $GITHUB_OUTPUT

      - name: Determine next version
        id: bump_version
        run: |
          # Récupère le dernier tag
          VERSION=${{ steps.get_version.outputs.last_tag }}
          VERSION=${VERSION#v}
          IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"

          # Détection du type de commit
          COMMIT_MSG=$(git log -1 --pretty=%B)
          echo "Dernier commit: $COMMIT_MSG"

          if [[ $COMMIT_MSG == *"BREAKING CHANGE"* || $COMMIT_MSG == *"!"* ]]; then
            MAJOR=$((MAJOR+1))
            MINOR=0
            PATCH=0
            LEVEL="MAJOR"
          elif [[ $COMMIT_MSG == *"feat:"* ]]; then
            MINOR=$((MINOR+1))
            PATCH=0
            LEVEL="MINOR"
          elif [[ $COMMIT_MSG == *"fix:"* ]]; then
            PATCH=$((PATCH+1))
            LEVEL="PATCH"
          else
            PATCH=$((PATCH+1))
            LEVEL="PATCH (default)"
          fi

          NEW_VERSION="v$MAJOR.$MINOR.$PATCH"
          echo "Type de changement : $LEVEL"
          echo "Nouvelle version : $NEW_VERSION"
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT
          echo "VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Create and push new tag
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git tag ${{ steps.bump_version.outputs.new_version }}
          git push origin ${{ steps.bump_version.outputs.new_version }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/hello-ci-cd:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/hello-ci-cd:${{ env.VERSION }}

      - name: Display final version
        run: echo "Version publiée : ${{ env.VERSION }}"
